[submodule "opencode"]
	path = opencode
	url = https://github.com/Vibecodelicious/opencode.git
[submodule "cline"]
	path = cline
	url = https://github.com/Vibecodelicious/cline.git
[submodule "codex"]
	path = codex
	url = https://github.com/Vibecodelicious/codex.git
[submodule "gemini-cli"]
	path = gemini-cli
	url = https://github.com/Vibecodelicious/gemini-cli.git
[submodule "kilo"]
	path = kilo
	url = https://github.com/Vibecodelicious/kilocode.git
[submodule "opencode_context_bonsai_plugin"]
	path = opencode_context_bonsai_plugin
	url = https://github.com/Vibecodelicious/opencode_context_bonsai_plugin.git
[submodule "kilo_context_bonsai"]
	path = kilo_context_bonsai
	url = https://github.com/Vibecodelicious/kilo_context_bonsai.git
[submodule "gemini-cli_context_bonsai"]
	path = gemini-cli_context_bonsai
	url = https://github.com/Vibecodelicious/gemini-cli_context_bonsai.git
[submodule "codex_context_bonsai"]
	path = codex_context_bonsai
	url = https://github.com/Vibecodelicious/codex_context_bonsai.git
[submodule "cline_context_bonsai"]
	path = cline_context_bonsai
	url = https://github.com/Vibecodelicious/cline_context_bonsai.git
[submodule "tweakcc_context_bonsai"]
	path = tweakcc_context_bonsai
	url = https://github.com/rswerve/tweakcc_context_bonsai.git
[submodule "pi_context_bonsai"]
	path = pi_context_bonsai
	url = https://github.com/Vibecodelicious/pi_context_bonsai.git
[submodule "pi"]
	path = pi
	url = https://github.com/Vibecodelicious/pi-mono.git
[submodule "hermes_context_bonsai"]
	path = hermes_context_bonsai
	url = https://github.com/Vibecodelicious/hermes_context_bonsai.git
